<% @lessons.each do |lesson| %>
    <div class="box panel panel-default">
        <div class="panel-body">
          <h2>
            <%= link_to lesson.title, lesson %>
          </h2>
        </div>
    </div>
  <% end %> 

<% if current_user.admin? %>

	<div class="row">
		<div class="col-md-6">
			<a href="<%=new_lesson_path%>" class="btn btn-primary">Primary</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a href="<%=new_lesson_path%>" class="btn btn-primary">Primary</a>
		</div>
	</div>
<%end%>

