<% @lessons.each do |lesson| %>
    <div class="row">
	    <div class="box panel panel-default col-md-6">
		        <div class="panel-body">
		          <h2>
		            <%= link_to [lesson.reciever_id, lesson.date].join(' '), lesson %>
		          </h2>
		        </div>
	    </div>
	</div>
  <% end %> 

<%= month_calendar events: @lessons do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%=link_to meeting.date, meeting %>
    </div>
  <% end %>
<% end %>
