<body class="unique">
  <div class="container">
      <!-- Example row of columns -->
      <div class="col-md-6">
        <div class="well">
          <h2>Login Above!</h2>
          <h2><%= render "devise/shared/links" %></h2>
        </div>
      </div>
  </div>
</div>
</body>
