<body class="unique">
  <div class="container">
      <div class="row">
	      <div class="col-md-6">
	        <div class="well">
	          <h1>Try the Test Accounts or Make Your Own Student!</h1>
	          <h2><%= render "devise/shared/links" %></h2>
	        </div>
	      </div>
	      <div class="col-md-6">
	      	<div class="well">
	      		<h1>Test Accounts</h1>
	      		<h3>Teacher</h3>
	      			<p>Email: Tom@last.com Password: Password320</p>
	      		<h3>Student</h3>
	      			<p>Email: tom@testing2.com Password: Password320</p>
	      	</div>
	      </div>
			</div>
	</div>
</body>
